.basketImage {
    width: 50px; 
    height: 50px; 
    
  }

.basketContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #2E9F82;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #eaf1d2;
    color: #515661;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }

  .basketItems {
    display: flex;
    flex-direction: column; 
  }


  .eachItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .productName {
    font-weight: bold;
    
  }

  .quantity {
    color: #555;
    margin-left: 10px;
  }

  .checkoutButton{
    align-self: center;
  }

  .basketHeader {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 50px;
  }

  .basketTotal {
    display: flex;
    justify-content: space-between; 
    margin-top: 10px; 
    
    
    
  }

  .totalItems {
    text-align: right;
    margin-left: auto;
    font-size: 16px;
    font-weight: bold;
  }

  .subtotal {
    text-align: right;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
  }