/* SCHEME */
.first-color {
  background: #515661;
}
  .second-color {
  background: #2E9F82;
  }
  .third-color {
  background: #68C170;
  }
  .fourth-color {
  background: #D6EC8C; 
  }

  

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-color:#D6EC8C ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.basketTotal {
  font-size: 50%;
  vertical-align: top;
  content: "+";
}

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

