

/* Product Component Styles */
.Product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 15px auto;
    border: 1px solid #68C170;
    background-color: #eaf1d2;
    border-radius: 2.5px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px

  }
  
  .productImage {
    max-width: 100px; /* Set a maximum width to limit image size */
    max-height: 100px; /* Set a maximum height to limit image size */
    border-radius: 8px;
  }
  
  #productName {
    font-size: 25px;
    margin: 10px 0;
  }
  
  #price {
    margin-bottom: 8px;
    span {
      margin-right: 4px;
    }
  }
  
  #description {
    margin-bottom: 10px;
    font-weight: lighter;
  } 
  
 #category {
    margin-bottom: 20px;
    font-weight: bold
  } 
  
  button {
    background-color: #2E9F82;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #68C170;
  }
  
  #outOfStock {
    color: #515661;
    font-size: 20px;
    font-weight: 600;
    
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .Product {
      margin: 10px;
    }
  
  }
  